<!DOCTYPE html>
<html>
    <body>
	    <div id="app">
	        <input type="test" v-model="message">
		   {{message | number}} 
		</div>
		<div> <input type="submit" onclick="changeData()" value="提交"></div>
		<div id="app-2">
		<span v-bind:title="message">
		    鼠标悬停几秒钟查看此处动态绑定的提示信息！
		  </span>
		</div>

		<div id="app-5">
		    <p>{{ message }}</p>
		    <button v-on:click="reverseMessage">逆转消息</button>
		</div>

		<div id="app-7">
			<ol>
			<!-- 现在我们为每个todo-item提供待办项对象    -->
			<!-- 待办项对象是变量，即其内容可以是动态的 -->
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
			</ol>
		</div>
	</body>
	<head>
		<meta charset="UTF-8">
		<script src="js/vue.js"></script>
		<script src="lib/jquery-1.12.3.js"></script>
	</head>
	<script>

		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		})
		var app7 = new Vue({
			el: '#app-7',
			data: {
				groceryList: [
				  { text: '蔬菜' },
				  { text: '奶酪' },
				  { text: '随便其他什么人吃的东西' }
				]
			}
		})
	    function changeData(){
	    	app7.groceryList=[
			  { text: '茄子' },
			  { text: '黄瓜' },
			  { text: '西红柿' }
			]
	    	//app2.message="哈哈";
	    	console.log(app.message);
	    } 
		var app = new Vue({
			el: '#app',
			data: {
			    message: 2
			},
			 filters: {
			    number: function (value) {
			      return value+7;
			    }
			  }
		})
	    var app2 = new Vue({
			el: '#app-2',
			data: {
			    message: '页面加载于 ' + new Date()
			}
		})

		var app5 = new Vue({
			el: '#app-5',
			data: {
			    message: 'Hello Vue.js!'
			},
			methods: {
				reverseMessage: function () {
				  this.message = this.message.split('').reverse().join('');
				}
			}
		})
		function ajaxF(){
			$.get("/struts-sample/sidebar",
			    {
			      moduleId:789,
			      city:"Duckburg"
			    },
			    function(data,status){
			      alert("数据：" + data + "\n状态：" + status);
		    });
		}
		//ajaxF();

		
	</script>
</html>
	
    

		


